// Variables for the theme Press


//-- PRESS

// Colors
$light-accent: 		darken($tan, 20%);	
$med-accent: 		darken($iblue, 5%);
$dark-accent: 		$dred;

$dark-text: 		$navy;
$light-text: 		$white;

$link-color:		$med-accent;
$link-hover: 		darken($link-color, 20%);

// Components
// $body-bkgd: 		url(http://subtlepatterns.com/patterns/satinweave.png);
$body-bkgd: 		#fefefe;
$body-text: 		$dark-text;

$header-bkgd: 		$body-bkgd;
$header-text: 		$body-text;

// Typography
$sans-serif: 			'freight-sans-pro';
$sans-serif-bold: 		$sans-serif;
$serif:             	'livory', serif;	


$heading-font: 		$serif;
$body-font: 		$serif;
$button-font: 		$sans-serif;
$lead-font: 		$serif;

// Utilities
$accent-border: 	1px solid $light-accent;

