// Variables for the theme Play


// -- PLAY

// Typography
$sans-serif: 		'Open Sans';		
$sans-serif-bold: 	'brandon-grotesque';
// $sans-serif-italic: $brandon-italic;
$serif:             'Chaparral Pro', serif;
$other: 			'Proxima Nova';


$heading-font: 		$sans-serif;
$body-font: 		$serif;
$button-font: 		$sans-serif;
$lead-font: 		$body-font;

// Colors
$light-accent: 		$yellow;	
$med-accent: 		darken($oldgreen, 10%);
$dark-accent: 		$red;

$dark-text: 		$navy;
$light-text: 		$white;

$link-color:		$dark-accent;
$link-hover: 		darken($link-color, 20%);

// Components
$body-bkgd: 		desaturate(lighten($tan, 4%), 5%);
$body-text: 		$dark-text;

$header-text:	 	$light-text;
$header-bkgd:	 	$dark-text;

// Utilities
$accent-border: 	2px solid $light-accent;

