// Variables for the theme Pixel


//-- PIXEL

// Colors
$light-accent: 		$yellow;	
$med-accent: 		$iblue;
$dark-accent: 		$red;

$dark-text: 		$black;
$light-text: 		$screenwhite;

$link-color:		$dark-accent;
$link-hover: 		darken($link-color, 20%);

// Components
$body-bkgd: 		$screenwhite;
// $body-bkgd: 		url(../img/girl-at-bar-trans.jpg);
$body-text: 		$dark-text;

$header-bkgd: 		$dark-text;
$header-text: 		$light-text;

// Typography
$sans-serif: 		'calluna-sans', Helvetica, sans-serif;
// $sans-serif-bold: 	'Futura PT Condensed';
$serif:             'chaparral-pro';
// $other: 			'Domus Titling';

$heading-font: 		$sans-serif;
$body-font: 		$serif;
$button-font: 		$sans-serif;
$lead-font: 		$serif;

// Utilities
$accent-border: 	1px solid $light-accent;

