// Variables for the theme Pixel


//-- PIXEL

// Colors
$light-accent: 		$iblue;	
$med-accent: 		$igreen;
$dark-accent: 		$ipink;

$dark-text: 		$black;
$light-text: 		$white;

$link-color:		$dark-accent;
$link-hover: 		darken($link-color, 20%);

// Components
$body-bkgd: 		$screenwhite;
// $body-bkgd: 		url(../img/girl-at-bar-trans.jpg);
$body-text: 		$dark-text;

$header-bkgd: 		$body-bkgd;
$header-text: 		$dark-text;

// Typography
$sans-serif: 		'Proxima Nova', Helvetica, sans-serif;
$sans-serif-bold: 	'Proxima Nova' 700;
$serif:             'livory', serif;

// $sans-serif: 		'Brandon Text Regular', Helvetica, sans-serif;
// $sans-serif-bold: 	'Brandon Text Bold', Helvetica, sans-serif;
// $serif:             'Tisa Pro', serif;	


$heading-font: 		$sans-serif;
$body-font: 		$serif;
$button-font: 		$sans-serif;
$lead-font: 		$sans-serif;

// Utilities
$accent-border: 	1px solid $light-accent;

