html {
	overflow-x: hidden;
}

body {
	background: $body-bkgd;
	color: $body-text;
}	


// ----
// ---- Style Components
// ----


.header {
	text-align: center;
	@media (min-width: $screen-md) {
		text-align: left;
	}
	background: $header-bkgd;
	color: $header-text;
	margin-bottom: $base;

	.theme-Press & .container {
		// margin-top: 12px;
		border-bottom: $accent-border;
		border-color: #eee;

	}

	.theme-Pixel & {
		margin-top: 12px;
		box-shadow:
			0 -1px 0 1px rgba($med-accent, 1),
			0 -2px 0 2px rgba($body-text, 1),
			0 -4px 0 4px rgba($dark-accent, 1),
			0 -6px 0 6px rgba($dark-accent, 1),;

			.site-title {
				border-color: $med-accent;
				border-width: 1px;
			}
	}
}

	.site-title {
		margin-top: $sml;
		// text-shadow: 1px 1px 1px $dark-text;
		

		.theme-Pixel & {
			// text-shadow: 1px 1px 0 $dark-text,
			// 			 2px 2px 0 rgba($dark-text, 0.8);
		}
	}

	.site-desc {
		font-family: $sans-serif;
		p {
			margin-bottom: $sml;
		}
	}


// Asides

.more {
	font-weight: bold;
}



// ----
// ---- Style Components
// ----

// Patterns and color scheme

.blocks div {}

	.pattern-colorscheme div {
		width: 20%;
		padding-top: 20%;
		float: left;
		margin-right: 2%;

		&:first-child {
			margin-left: 0;
		}
	}

	.pattern-lined {
		width: 100px;
		border: 4px solid $grey;
		div {
			background-color: $light-accent;
	
		}
	}
	

// ----
// ---- Footer
// ----

.footer {
	margin-top: $h3;
	margin-bottom: $h2;
	display: table;
}


// Adjectives

.adjs {
	width: 100%;

	@media (min-width: $screen-lg) {
		display: table-row;
	} 
}

.adj {
	@media (min-width: $screen-lg) {
		display: table-cell;
		width: 10%;
		vertical-align: middle;
	}
	text-align: center;
	padding: $sml/2 0;
	font-size: $h3;
	
}

.theme-Play {
	.adj0 {
		font-family: $sans-serif-bold;
		color: $dark-accent;
		font-size: $h2;
		text-shadow: 1px 2px 0 $light-accent,
					 // 2px 3px 1px rgba($dark-text, 0.6);
	}

	.adj1 {
		// background-color: $light-accent;
		background-color: $dark-text;
		    -webkit-background-clip: text;
		//     -moz-background-clip: text;
		    background-clip: text;
		    color: transparent;
		    text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;		
	}

	.adj2 {
		font-family: $sans-serif;
		font-weight: 300;
		color: $light-accent;
	}

	.adj3 {
		font-family: $heading-font;
		font-weight: 300;
			
	}

	.adj4 {
		font-style: italic;
		color: $med-accent;
	}

	.adj5 {
		// border-top: $accent-border;
		font-weight: 700;
	}
}

.theme-Press {
	.adj0 {
		// font-variant: small-caps;
		// letter-spacing: 2px;
		// font-weight: bold;
		color: $light-accent;
	}

	.adj1 {
		color: $med-accent;
		font-family: $sans-serif-bold;
		text-transform: uppercase;
		letter-spacing: 1px;
	}

	.adj2 {
		font-weight: bold;
	}

	.adj3 {
		font-family: $sans-serif;
		color: $dark-accent;
		text-shadow: 1px 1px 2px #fff;
	}

	.adj4 {
		font-style: italic;
	}

	.adj5 {
		font-variant: small-caps;
		font-weight: bold;
		font-size: $h5;
	}
}

.theme-Pixel {
	.adj0 {
		font-variant: small-caps;
		text-transform: lowercase;
		letter-spacing: 3px;
		font-family: $sans-serif;
		font-weight: 700;
		text-shadow: 1px 1px 0 darken($screenwhite, 20%);
	}

	.adj1 {
		text-transform: lowercase;
		color: $dark-accent;
		font-family: $sans-serif;
	}

	.adj2 {
		font-style: italic;
		color: $med-accent;
	}

	.adj3 {

	}

	.adj4 {
		font-family: $sans-serif;
		font-size: $h4;
	}

	.adj5 {
		color: $light-accent;
	}
}


// ----
// ---- Overrides
// ----


// Hide myfonts link
#mfPreviewBarShow, #mfPreviewBar {
	display: none;
}

