html {
	overflow-x: hidden;
}

body {
	background: $body-bkgd;
	color: $body-text;
	// background-image: url(../img/girl-at-bar.jpg);
	// background-size: cover;
	// background-position: center;
	// background-attachment: fixed;
}	


.header {
	text-align: center;
	@media (min-width: $screen-md) {
		text-align: left;
	}
	background: $header-bkgd;
	color: $header-text;
	margin-bottom: $base;
}

	.site-title {
		margin-top: $sml;
		// text-shadow: 1px 1px 1px $dark-text;
		border-right: $accent-border; 
	}

	.site-desc {
		font-family: $sans-serif;
		p {
			margin-bottom: $sml;
		}
	}

.site-content {
// background-color: rgba($white, 0.6);
}

// Asides

.site-sidebar {
	padding-right: $h3;
	// padding-top: $sml;
	// margin-top: $h4;
	h5 {
		padding-top: $h4;
	}
}


.more {
	font-weight: bold;
}

// Forms

// Hacks and overrides

// Hide myfonts link
#mfPreviewBarShow, #mfPreviewBar {
	display: none;
}


// ----
// ---- Style Components
// ----

// Patterns and color scheme

.blocks div {}

	.pattern-colorscheme div {
		width: 20%;
		padding-top: 20%;
		float: left;
		margin-right: 2%;

		&:first-child {
			margin-left: 0;
		}
	}

	.pattern-lined {
		width: 100px;
		border: 4px solid $grey;
		div {
			background-color: $light-accent;
	
		}
	}
	

// ----
// ---- Footer
// ----

.footer {
	margin-top: $h3;
	margin-bottom: $h2;
	display: table;
}


// Adjectives

.adjs {
	display: table-row;
	width: 100%;
}

.adj {
	display: table-cell;
	text-align: center;
	padding: $sml/2 0;
	font-size: $h3;
	width: 10%;
	vertical-align: middle;
}

.theme-Play {
	.adj1 {
		font-family: $sans-serif-bold;
		color: $dark-accent;
		font-size: $h2;
		text-shadow: 1px 2px 0 $light-accent,
					 2px 3px 1px rgba($dark-text, 0.6);
	}

	.adj2 {
		color: $light-accent;
	}

	.adj3 {
		font-family: $sans-serif;
		font-weight: 300;

	}

	.adj4 {
		font-family: $heading-font;
		font-weight: 300;
			
	}

	.adj5 {
		font-style: italic;
		color: $med-accent;
	}

	.adj6 {
		border-top: $accent-border;
		font-family: $heading-font;
		color: $body-bkgd;
		background-color: $body-text;
	}
}
