// ----
// ---- Base
// ----

html {
	overflow-x: hidden;
}

body {
	background: $body-bkgd;
	color: $body-text;
}	

img {
	max-width: 100%;
}

	.full-img {
		width: 100%;
	}

.header {
	text-align: center;
	@media (min-width: $screen-lg) {
		text-align: left;
	}
	position: fixed;
	width: 100%;
	z-index: 9;
	background: $header-bkgd;
	color: $header-text;

	&--site {
		// border-bottom: 10px solid $med-accent;
	}
}

	.site-title {
		// margin: 0;
		margin: 0 0 $sml;
		// text-shadow: 1px 1px 1px $dark-text;
		@media (min-width: $screen-sm) {
			margin: 0;
		}
	}

	.site-desc {
		font-family: $sans-serif;
		p {
			margin-bottom: $sml;
		}
	}

	.header {
		&--case_study {

			&#medium {
				background-image: url('../img/boxes.jpg');
			}

			&#process {
				background-image: url('../img/old-camera.jpg');
				padding-top: $h1*9;
			}

			&#complete {
				background-image: url('../img/computer.jpg');
				padding: $h1*3 0;
			}

			background-size: cover;
			background-position: center center;
			background-attachment: fixed; 
			padding: $h1*4 0 $h1*2;
		}

		&__content {
			background-color: rgba($body-bkgd, 0.8);
			padding: $h3 $h2;
		}
	}
	
	.top-border {
		position: relative;
		bottom: -$sml/2;
	}


// Asides

.more {
	font-weight: bold;
}



// ----
// ---- Main Content
// ----

.main {
	padding-top: $h1*1.5;
}

// ----
// ---- Style Components
// ----

// Patterns and color scheme

.blocks div {}

	.pattern-colorscheme div {
		width: 20%;
		padding-top: 20%;
		float: left;
		margin-right: 2%;

		&:first-child {
			margin-left: 0;
		}
	}

	.pattern-lined {
		width: 100px;
		border: 4px solid $grey;
		div {
			background-color: $light-accent;
	
		}
	}
	

// ----
// ---- Footer
// ----

.footer {
	margin-top: $h3;
	margin-bottom: $h2;
	display: table;
}

.quick-quote {
	background-color: $med-accent;
	border-top: 4px solid $light-accent;
	color: $light-text;
}

// Adjectives

.adjs {
	width: 100%;

	@media (min-width: $screen-lg) {
		display: table-row;
	} 
}

.adj {
	@media (min-width: $screen-lg) {
		display: table-cell;
		width: 10%;
		vertical-align: middle;
	}
	text-align: center;
	padding: $sml/2 0;
	font-size: $h3;
	
}

.theme-Play {
	.adj0 {
		font-family: $sans-serif-bold;
		color: $dark-accent;
		font-size: $h2;
		text-shadow: 1px 2px 0 $light-accent,
					 // 2px 3px 1px rgba($dark-text, 0.6);
	}

	.adj1 {
		// background-color: $light-accent;
		background-color: $dark-text;
		    -webkit-background-clip: text;
		//     -moz-background-clip: text;
		    background-clip: text;
		    color: transparent;
		    text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;		
	}

	.adj2 {
		font-family: $sans-serif;
		font-weight: 300;
		color: $light-accent;
	}

	.adj3 {
		font-family: $heading-font;
		font-weight: 300;
			
	}

	.adj4 {
		font-style: italic;
		color: $med-accent;
	}

	.adj5 {
		// border-top: $accent-border;
		font-weight: 700;
	}
}

.theme-Press {
	.adj0 {
		// font-variant: small-caps;
		// letter-spacing: 2px;
		// font-weight: bold;
		color: $light-accent;
	}

	.adj1 {
		color: $med-accent;
		font-family: $sans-serif-bold;
		text-transform: uppercase;
		letter-spacing: 1px;
	}

	.adj2 {
		font-weight: bold;
	}

	.adj3 {
		font-family: $sans-serif;
		color: $dark-accent;
		text-shadow: 1px 1px 2px #fff;
	}

	.adj4 {
		font-style: italic;
	}

	.adj5 {
		font-variant: small-caps;
		font-weight: bold;
		font-size: $h5;
	}
}

.theme-Pixel {
	.adj0 {
		font-variant: small-caps;
		text-transform: lowercase;
		letter-spacing: 3px;
		font-family: $sans-serif;
		font-weight: 700;
		text-shadow: 1px 1px 0 darken($screenwhite, 20%);
	}

	.adj1 {
		text-transform: lowercase;
		color: $dark-accent;
		font-family: $sans-serif;
	}

	.adj2 {
		font-style: italic;
		color: $med-accent;
	}

	.adj3 {

	}

	.adj4 {
		font-family: $sans-serif;
		font-size: $h4;
	}

	.adj5 {
		color: $light-accent;
	}
}


// ----
// ---- Overrides
// ----


// Hide myfonts link
#mfPreviewBarShow, #mfPreviewBar {
	display: none;
}

