.nav {
	@include horizontal-list($h4);
	font-family: $sans-serif;
	letter-spacing: 1px;
	text-transform: uppercase;
	// margin-top: $h5;
	font-size: $h5;
	ul {
		@media (min-width: $screen-sm) {
			float: right;
			@include clearfix;
		}
	}
}