
.light-accent {
	background-color: $light-accent;
}

.dark-accent {
	background-color: $dark-accent;
}

.med-accent {
	background-color: $med-accent;
}

.dark-font {
	background-color: $dark-text;
}


.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}